awscli==1.16.155
botocore==1.12.146
Click==7.0
colorama==0.3.9
docutils==0.14
Flask==1.0.2
Flask-Cors==3.0.7
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
numpy==1.16.3
pandas==0.24.2
pyasn1==0.4.5
pynamodb==3.3.3
python-dateutil==2.8.0
pytz==2019.1
PyYAML==3.13
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.3
Werkzeug==0.15.2
pynamodb==3.3.3
awscli==1.16.155
Flask-Cognito==1.13
-e ../sentinel_common
