# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
src/

# Serverless directories
sentinel-analizer/.serverless
sentinel-analizer/.env
sentinel-analizer/node_modules